.NavContainer{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height:3.5em;
  background-color:rgb(20,20,20);
}
.NavText{
  font-size: 1rem;
  font-family: sans-serif;
  color:white;
  text-decoration: none;
}
.NavItem{
  color:#eee;
  text-decoration: none;
  margin-right: 40px;
}
.icones{
  margin-right: 10px;
}
.LinkContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width:50%;
}
.NavItem:hover,.NavText:hover{
  color:grey;
}
.NavItem:link:visited {
  text-decoration: underline;
}
@media all and (max-width:1120px){
  .LinkContainer{
    width:100%;
    text-align: center;
  }
  .NavContainer{
    margin-top: 0px;
  }
}

@media all and (max-width:720px){

  .NavText{
    display:none;
  }
  .icones{
    margin:0px;
    font-size: 30px;
  }
  .LinkContainer{
    justify-content: center;
  }
}
