.socialContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width:80%;
  margin-bottom: 20px;

}
.contactPageContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.socialTitle{
  font-family: sans-serif;
  font-size: 2.5em;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.socialIcones{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80px;
  padding:10px;
}
.contactSocialLink{
  margin:5px 35px;
}
.contact{
  color:grey;
  font-size: 1em;
  font-family: sans-serif;
}
.contactIcones1{
  animation: turning 1s forwards ease-in;
}
.contactIcones2{
    animation: turning 1.5s forwards ease-in;
}
.contactIcones3{
    animation: turning 2s forwards ease-in;
}
.contactForm{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  background-color: rgb(190,190,190);
  width:35%;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}
.formTitle{
  font-size: 2em;
  font-weight: bold;
  margin-bottom:40px;
  font-family: sans-serif;
}
form{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:80%;
}
.inputText{
  width:100%;
  margin-bottom: 25px;
  height:30px;
  border: none;
  font-family: sans-serif;
  padding: 5px;
}
.message{
  width: 100%;
  border:none;
  height:13em;
  margin-bottom: 45px;
  font-family: sans-serif;
  padding: 5px;
}
.btnEnvoyer{
  background-color: rgba(255,255,255,0.5);
  font-size: 1em;
  font-family: sans-serif;
  border:none;
  border-style: none;
  padding: 15px 20px;
  border-radius: 20px;
  color:black;
  cursor: pointer;
}
.error{
    box-shadow: 0px 0px 6px red;
}
.inputText:focus,.message:focus{
  box-shadow: 0px 0px 6px blue;
}
.messageBox{
  display:none;
  font-size: 1.2em;
  color:white;
  margin-top: 30px;
  width:50%;
  padding:30px;
  animation:appear forwards 0.4s ease-in;
}

@keyframes turning {
  to{
     transform:rotateY(360deg);
  }
}
@keyframes appear {
  from{
    transform:scale(0);
  }to{
    height:100%;
    transform: scale(1);
  }
}
@media all and (max-width:786px){
  .contactForm{
    width:80%;
  }
  .socialTitle{
    font-size: 2em;
  }

}
